@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../imgs/minimalist-background_1_3840x2160.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Raleway, sans-serif;
  font-weight: 500;
}
body .profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body .profile-page .profile-section {
  color: #101011;
}
body .profile-page .profile-section .profile-card {
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;
  position: relative;
  border: 1px solid rgba(187, 187, 187, 0.2);
  border-radius: 12px;
  background-color: rgba(168, 168, 168, 0.15);
  text-align: center;
  transform-style: preserve-3d;
  perspective: 1000px;
}
body .profile-page .profile-section .profile-card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: 0 20px 70px -10px rgba(51, 51, 51, 0.3);
  z-index: -1;
}
body .profile-page .profile-section .profile-card .tiltButton {
  display: block;
  position: absolute;
  top: 10%;
  right: 10%;
  transform: translateZ(32px);
  text-align: center;
}
body .profile-page .profile-section .profile-card .tiltButton .cont {
  position: relative;
  display: block;
  width: 41px;
  height: 21px;
  border-radius: 16px;
  padding: 2px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
}
body .profile-page .profile-section .profile-card .tiltButton .cont input {
  display: none;
}
body .profile-page .profile-section .profile-card .tiltButton .cont input:checked ~ .switch {
  margin-left: calc(100% - 17px);
  background: rgb(255, 255, 255);
}
body .profile-page .profile-section .profile-card .tiltButton .cont input:checked ~ .switch:before {
  background: rgba(62, 255, 110, 0.4039215686);
}
body .profile-page .profile-section .profile-card .tiltButton .cont .switch {
  display: block;
  width: 17px;
  height: 17px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  box-shadow: 0 3px 8px rgba(255, 255, 255, 0.15);
  transition: inherit;
}
body .profile-page .profile-section .profile-card .tiltButton .cont .switch:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  z-index: -1;
  transition: inherit;
}
body .profile-page .profile-section .profile-card .tiltButton .tiltLabel {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  color: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
}
body .profile-page .profile-section .profile-card .top-card {
  margin-bottom: 2rem;
  transform: translateZ(27px);
}
body .profile-page .profile-section .profile-card .top-card img {
  width: 175px;
  border-radius: 50%;
  margin-top: 0.5rem;
}
body .profile-page .profile-section .profile-card .top-card .name {
  margin: 2rem 0;
  font-weight: 400;
  font-size: 2.5rem;
}
body .profile-page .profile-section .profile-card .top-card .name span {
  font-weight: 600;
}
body .profile-page .profile-section .profile-card .top-card .job {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
}
body .profile-page .profile-section .profile-card .top-card .place {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
body .profile-page .profile-section .profile-card .top-card .place img {
  width: 20px;
  margin: 3px;
}
body .profile-page .profile-section .profile-card .top-card .place .place-text {
  font-weight: 300;
  font-size: 0.85rem;
}
body .profile-page .profile-section .profile-card .languages {
  transform: translateZ(32px);
  border-radius: 12px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}
body .profile-page .profile-section .profile-card .languages h3 {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
body .profile-page .profile-section .profile-card .languages div {
  margin-bottom: 1rem;
}
body .profile-page .profile-section .profile-card .languages div h4 {
  margin-bottom: 0.5rem;
}
body .profile-page .profile-section .profile-card .languages div p {
  margin: 0 auto;
  max-width: 300px;
  font-size: 0.9rem;
}
body .profile-page .profile-section .profile-card .social {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  transform: translateZ(27px);
}
body .profile-page .profile-section .profile-card .social a {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 12px;
  position: relative;
  padding: 5px;
  margin: 0 0.5rem;
}
body .profile-page .profile-section .profile-card .social a img {
  width: 50px;
}
body .profile-page .profile-section .profile-card .social .linkedin {
  background-color: rgba(10, 102, 194, 0.7);
}
body .profile-page .profile-section .profile-card .social .linkedin img {
  transform: scale(0.85) translateY(2.5px);
}
body .profile-page .profile-section .profile-card .social .github {
  background-color: rgba(36, 41, 47, 0.7);
}
body .profile-page .profile-section .profile-card .social .github img {
  transform: scale(0.8);
}
body .profile-page .profile-section .profile-card .social .cv {
  background-color: rgba(241, 159, 109, 0.7);
}
body .profile-page .profile-section .profile-card .social .cv img {
  transform: scale(0.8);
}
body .profile-page .profile-section .profile-card .social .mail {
  background-color: rgba(133, 180, 230, 0.7);
}
body .profile-page .profile-section .profile-card .social .mail img {
  transform: scale(0.8);
}
body noscript {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  color: rgb(223, 59, 59);
}

@media (max-width: 425px) {
  html {
    height: -webkit-fill-available;
    max-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  html body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: 50% 0;
  }
  html body .profile-section .profile-page {
    height: 100%;
  }
  html body .profile-section .profile-page .profile-card {
    padding: 2rem;
  }
  html body .profile-section .profile-page .profile-card .top-card {
    margin-bottom: 1.65rem;
  }
  html body .profile-section .profile-page .profile-card .top-card img {
    width: 135px;
    margin-top: 0.5rem;
  }
  html body .profile-section .profile-page .profile-card .top-card .name {
    margin: 1rem 0;
    font-size: 2.1rem;
  }
  html body .profile-section .profile-page .profile-card .top-card .job {
    margin-bottom: 0.75rem;
    font-size: 1rem;
  }
  html body .profile-section .profile-page .profile-card .top-card .place img {
    width: 15px;
    margin: 2px;
  }
  html body .profile-section .profile-page .profile-card .top-card .place .place-text {
    font-size: 0.75rem;
  }
  html body .profile-section .profile-page .profile-card .languages {
    padding: 1rem;
    margin-bottom: 2rem;
    transform: translateZ(32px);
  }
  html body .profile-section .profile-page .profile-card .languages h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  html body .profile-section .profile-page .profile-card .languages div {
    margin-bottom: 1rem;
  }
  html body .profile-section .profile-page .profile-card .languages div h4 {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  html body .profile-section .profile-page .profile-card .languages div p {
    margin: 0 auto;
    max-width: 200px;
    font-size: 0.75rem;
  }
  html body .profile-section .profile-page .profile-card .social {
    margin-bottom: 1rem;
    transform: translateZ(27px);
  }
  html body .profile-section .profile-page .profile-card .social a {
    padding: 5px;
    margin: 0 0.5rem;
  }
  html body .profile-section .profile-page .profile-card .social a img {
    width: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
